.main-page {
  .page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 10%;
    margin: 0 auto;
  }

  .page-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50%;
    margin: 0 auto;
  }
}

