.question {
    .description {
        font-size: 2em;
    }

    .answers-container {
        display: flex;
        flex-direction: column;

        margin-bottom: 4em;
    }


    .answer {
        width: fit-content;
        padding-top: 5px;

        font-size: 1.5em;

        transition: transform .2s;

        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }
}
